@page "/"

<div class="columns">
    <div class="column">
        <section class="hero is-large is-warning">
            <div class="hero-body">
                <p class="title">
                    Form traditional
                </p>
                <ContactFormNormal />
            </div>
        </section>
    </div>
    <div class="column">
        <section class="hero is-medium is-link">
            <div class="hero-body">
                <p class="title">
                    Blazor Basics
                </p>
                <ContactFormBasics />
            </div>
        </section>
    </div>
</div>